body {
    margin : 0;
    height : 100vh;
    box-sizing: border-box;
    background : linear-gradient(to right , brown , chocolate);
    display : flex ;
    justify-content: center;
    align-items: center;
}

div.board {
    box-sizing: border-box;
    display : inline-grid;
    flex-direction : column;
    justify-content: center;
    align-content : center;
    background-color: white;
    border : 20px solid maroon;
    border-radius: 20px;
}



div.row {
    display : grid;
    grid-template-columns: repeat(8, 1fr);
    justify-content: center;
    align-content: center;
}

div.cell {
    border : 1px solid black;
    width : 5vw;
    height : 5vw;
    min-width : 30px;
    min-height : 30px;
    display : flex;
    justify-content : center;
    align-items : center;
    font-size : 3em;
    user-select : none;
    cursor : pointer;
}

div.row:nth-child(odd) div.cellContainer:nth-child(even) {
    background-color : rgba(165, 42, 42, 0.6);
}

div.row:nth-child(even) div.cellContainer:nth-child(odd) {
    background-color : rgba(165, 42, 42, 0.6);
}

div.row:nth-child(odd) div.cellContainer:nth-child(odd) {
    background-color : white;
}

div.row:nth-child(even) div.cellContainer:nth-child(even) {
    background-color : white;
}


/*
div.cell:not([data-color='w']):not(.highlight):not(.active):hover {
    background-color : rgba(226, 226, 226, 0.5);
}

div.cell:not([data-color='w']):active {
    background-color : rgba(196, 194, 194, 0.8);
}
*/

div.cell:not(.highlight):not(.active):hover {
    background-color : rgba(226, 226, 226, 0.5);
}

div.cell:active {
    background-color : rgba(196, 194, 194, 0.8);
}

div.active {
    background-color : rgba(74, 216, 61, 0.6);
}

div.highlight {
    background-color : rgba(30, 143, 255, 0.6);
}

div.highlight:hover {
    background-color : royalblue;
}

@media only screen and (max-width: 1000px) {
    body {
      background-color: pink;
    }
    div.cell {
        width : 7vw;
        height : 7vw;
        font-size : 2.7em;
    }
}


@media only screen and (max-width: 650px) {
    body {
      background-color: rgba(65, 105, 225, 0.4);
    }
    div.cell {
        width : 8vw;
        height : 8vw;
        font-size : 2em;
    }
}