<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="./error.css" />
    <link rel="stylesheet" href="./login.css" />
    <title>Login</title>
</head>
<body>
    <header>
      ChessPlus
    </header>

    
	<div class="error">
		<div>Not Found!</div>
	</div>
    
    <script src="./jQueryCDN/jquery-3.4.1.min.js"></script>

</body>
</html>