<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./login.css" />
    <title>Login</title>
</head>
<body>
    <header>
      ChessPlus
    </header>

    <div class="background">
        <!-- <div class="left">&#128172;</div>
        <div class="right">&#128149;</div>
        <div class="left">&#128525;</div>
        <div class="right">&#128521;</div>
        <div class="left">&#128172;</div> -->
    </div>

    <div class="formContainer">
      <form id="mainForm" action="/createGame" method="post">
        <fieldset>

          <div id="username_inputbox" class="inputbox">
            <input class="numberOne" id="username" name="username" type="text" autocomplete="off" autofocus/>
            <div id="username_placeholder" class="placeholder">Username</div>
          </div>

          <div class="createGame">
            <button id="createGame">create game</button>
          </div>
          

          
          <input type="text" id="gameNumber" name="gameNumber" placeholder="Code" autocomplete="off">
          <button id="joinGame">join game</button>
          
        </fieldset>
      </form> 
    </div>

    
    <script src="./jQueryCDN/jquery-3.4.1.min.js"></script>
    <script src="./login.js"></script>
</body>
</html>