@font-face {
    font-family : UbuntuBold;
    src : url(./fonts/Ubuntu/Ubuntu-Bold.ttf);
}

@font-face {
    font-family : UbuntuRegular;
    src : url(./fonts/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
    font-family : Roboto;
    src : url(./fonts/Roboto/Roboto-Thin.ttf);
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family : UbuntuBold;
}
::-moz-placeholder { /* Firefox 19+ */
    font-family : UbuntuBold;
}
:-ms-input-placeholder { /* IE 10+ */
    font-family : UbuntuBold;
}
:-moz-placeholder { /* Firefox 18- */
    font-family : UbuntuBold;
}



body {
    margin : 0;
    height : 100vh;
    position : relative;
    box-sizing: border-box;
    min-width : 300px;
    
    background : linear-gradient(to right , brown , chocolate);
    /*
    background : linear-gradient(to right , maroon , chocolate, brown);
	background : linear-gradient(to right , royalblue , dodgerblue);
	*/
}


div.container {
    display : grid;
    grid-template-rows: 10vh 90vh;
    grid-template-columns : 1fr;
    font-family : UbuntuBold;
    position : relative;
    box-sizing: border-box;
}

header {
    /* background : linear-gradient(to right , brown , chocolate); */
    display: flex;
    justify-content: center;
    color : white;
    font-size : 2em;
    align-items : center;
    box-sizing: border-box;
}



div.formContainer {
    /* border : 2px solid red; */
    display : flex;
    justify-content: center;
    align-items : center;
}


div.formWrapper {
    background-color : dodgerblue;
    padding : 1em;
}



form {
    background-color : brown;
    border : 2px solid black;
    padding : 1em;
    display : flex;
    flex-direction : column;
    position : relative;
    overflow : hidden;
    --fontSize : 1.2em;
}



form label {
    padding : 0.5em 1em 0.3em 0;
    color : white;
    font-size : var(--fontSize);
}

form input {
    padding : 0.5em 1em;
    margin-bottom : 0.1em;
    font-size : var(--fontSize);
}

form button {
    padding : 0.5em 1em;
    background : transparent;
    border : 2px solid black;
    outline : 0;
    color : white;
    position : relative;
    cursor : pointer;
    margin-top : 0.5em;
    font-size : var(--fontSize);
}

form button:active {
    bottom : -1px;
}


div.icon {
    color : white;
    position : absolute;
    right : 0;
    top : 0;
    transform : rotate(45deg) translateX(0.7em) translateY(-2.9em);
    background-color: red;
    padding : 2em 2em 0 2em ;
    transition : 0.3s;
    cursor : pointer;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.icon:hover {
    transform : rotate(45deg) translateX(0.7em) translateY(-2.9em) scale(1.2);
}

div.gamepad {
    transform : rotate(45deg) translateX(0.5em) translateY(-2.9em);
}


div.gamepad:hover {
    transform : rotate(45deg) translateX(0.5em) translateY(-2.9em) scale(1.2);
}

div.icon div.textHint {
    font-size : 10px;
}